.app {
  height: 100%;
  width: 80%;
  margin: auto;
  overflow: hidden;
}
html,
body {
  position: relative;
  height: 100%;
}
.swiper-button-prev {
  color: whitesmoke;
  height: 5px;
  width: 0.2px;
}
.swiper-pagination-bullet {
  display: none;
}
.swiper-button-next {
  color: whitesmoke;
  height: 5px;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 200px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Shop_Button {
  background-color: #000;
  color: #fff;
  word-spacing: 10px;
}
.pro_price {
  font-size: 15px;
  line-height: 22.5px;
  text-decoration: none solid rgb(30, 30, 30);
  text-align: center;
  white-space: nowrap;
  background-color: #fff;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.Pro_title {
  font-family: Trade GothicLTstd;
  font-size: 15px;
  font-weight: 300;
  line-height: 19px;
  text-decoration: none solid rgb(51, 51, 51);
  text-align: center;
  text-transform: uppercase;
  /* width: 93.3333px; */
}

.mySwiper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 200px;
}
.pro_box {
  display: grid;
}
.Todayoffer {
  text-align: center;
  margin-bottom: 100px;
  margin-top: 20px;

  width: 1029px;
  height: 120px;
  margin: 0 auto 50px auto;
  font-family: "Trade Gothic W01 Light";
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 150%;
  text-align: center;
  color: #666666;
}
.imageone {
  /* width:80%; */
  margin: auto;
  /* border: 2px solid red; */
}
.imageone > img {
  width: 100%;
}
.boxesofOffer {
  text-align: center;
  /* margin-top: 20px; */
  margin: 23px auto;
  font-family: TradeGothicLTW05-BoldNo\.2, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  background-color: #e5e5e5;
  padding: 20px 0px;
}
.fleximage {
  margin: 10px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* width: 100%; */
}
.fleximage > div > img {
  width: 100%;
}
.fleximage > div > h3 {
  text-align: center;
}
/* .mainpage{
  padding: 10px;
  justify-content: center;
} */

.category_Shop {
  /* width:80%; */
  margin: auto;
  display: flex;
  justify-content: center;
}
.category_Shop > div {
  width: 20%;
}
.category_Shop > div > img {
  width: 100%;
}
.shop_BY_Catgory {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin: 40px 0px;
  
}
.shop_BY_Catgory>div >h3{
  text-align: center;
  margin-bottom: 20px;
  font-family: "TradeGothicLTStd";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #333333;
  margin-top: 40px;

}

.Bath_Body > p {
  width: 1029px;
  height: 120px;
  margin: 0 auto 50px auto;
  font-family: "Trade Gothic W01 Light";
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 150%;
  text-align: center;
  color: #666666;
}
.Bath_Body {
  /* width: 78%; */
  margin: auto;
}
.Bath_Body h3 {
  text-align: center;
  margin-bottom: 14px;
  font-family: "TradeGothicLTStd";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #333333;
  margin-top: 40px;
}
a {
  text-decoration: none;
  position: relative;
  display: block;
  padding: 16px 0;
  margin: 0 12px;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: color 0.1s, background-color 0.1s;
  color: #000;
}
a:hover {
  color: #000;
}

a::before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  height: 3px;
  width: 100%;
  background-color: #000;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  transition: color 0.1s, -webkit-transform 0.2s ease-out;
  transition: color 0.1s, transform 0.2s ease-out;
  transition: color 0.1s, transform 0.2s ease-out,
    -webkit-transform 0.2s ease-out;
}

a:active::before {
  background-color: #000;
}

a:hover::before,
a:focus::before {
  /* -webkit-transform-origin: center top; */
  transform-origin: center top;
  /* -webkit-transform: scale(1, 1); */
  transform: scale(1, 1);
}
.linesofshop {
  flex: 1;
  background-color: #000;
  height: 2px;
  margin-top: 10px;
}
h4 {
  font-family: "Trade Gothic W01 Light";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  color: #333333;
  margin-top: 9px;
  margin-bottom: 12px;
}
h5 {
  /* --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  box-sizing: border-box;
  font-family: TradeGothicLTW05-BoldNo\.2, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 14px;
  text-align: center;
  text-decoration-line: underline;
  color: #333333;
  margin-top: 15px;
  margin-bottom: 40px;
}
